<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/managementsystem1</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">matkhau</property>

        <!-- JDBC connection pool settings -->
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>

        <!-- Specify dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        
        <!-- Session context class -->
        <property name="hibernate.current_session_context_class">thread</property>
        <!-- Drop and re-create the database schema on startup -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!-- Names the annotated entity classes -->
        <mapping class="oopsucks.model.Course"/>
        <mapping class="oopsucks.model.Teacher"/>
        <mapping class="oopsucks.model.CreditBasedStudent"/>
        <mapping class="oopsucks.model.YearBasedStudent"/>
        <mapping class="oopsucks.model.Clazz"/>
        <mapping class="oopsucks.model.Grade"/>
        
    </session-factory>
</hibernate-configuration>